apiVersion: apps/v1
kind: Deployment
metadata:
  name: bookstack
spec:
  template:
    spec:
      containers:
        - name: bookstack
          envFrom:
            - secretRef:
                name: bookstack-admin-secret
