# Patch Kustomize pour l'URL publique de Bookstack en prod
apiVersion: apps/v1
kind: Deployment
metadata:
  name: bookstack
spec:
  template:
    spec:
      containers:
        - name: bookstack
          env:
            - name: APP_URL
              value: "https://bookstackprod.rncp.idarius.net"
