/* remplace le texte "BookStack" du header */
.logo-text {
  font-size: 0 !important; /* cache le texte original */
}

.logo-text::after {
  content: "RNCP";
  font-size: 1.8rem;
  line-height: 1.4;
  color: #fff;
  font-weight: 400;
}

/* badge devant le texte */
.logo-text::before {
  content: "RNCPTEST";
  font-size: 20px;
  margin-right: 10px;
  padding: 2px 6px;
  border-radius: 20px;
  background: #ff8c00;
  color: #000;
  font-weight: 700;
  vertical-align: middle;
}
