apiVersion: viaduct.ai/v1
kind: ksops
metadata:
  name: bookstack-secrets-generator
  annotations:
    config.kubernetes.io/function: |
      exec:
        path: ksops
files:
  - bookstack-secrets.secret.sops.yaml
